*.DS_Store
*.class
*.txt
*.java
*.py
*.csv
/north-east
/reservation
laws-orders/jnk/
laws-orders/helpers/functionality.txt
laws-orders/helpers/acts.csv
laws-orders/helpers/helper.html
laws-orders/helpers/helper.css
laws-orders/helpers/helper.js
laws-orders/acts/coi/index2.html