@media only screen and (min-width: 1200px){
	.document{
		width: 70%;
		margin: auto;
	}
}

section{
	display: inline;
}

.display-block{
	display: block;
}

.display-flex{
	display: flex;
}

section.container{
	margin-top: 1vw;
} 

.section.content{
	margin-left: 2vw;
}

.enumerate.content{
	margin-left: 0.5vw;
}

.section.heading.title{
	margin-left: 0.5vw;
}

.provision{
	margin-top: 0.25vw;
	margin-bottom: 0.25vw;
}

.explanation{
	margin-top: 0.25vw;
	margin-bottom: 0.25vw;
}

.arrangement{
	margin: auto;
	width: 100%;
}

section.arrangement>section.title{
	text-align: center;
}

section.arrangement>table th{
	text-align: center;
}

section.arrangement>table th:first-child{
	width: 15%
}

section.arrangement>table td:first-child{
	text-align: center;
	width: 15%
}

section.arrangement>table td{
	border-right: solid;
	border-color: black;
}

section.arrangement>table td:last-child{
	border: none;
	padding-left: 1vw;
}

section.arrangement>table tr.colspan{
	height: 30px;
}

section.dates>section{
	display: block;
}

.division.heading{
	text-align: center;
}

.division.container{
	padding-top: 1vw;
}

section.details>section{
	display: block;
}

.details{
	text-align: center;
}


/*.part-container{

}*/

/*.chapter-container{
	
}*/

/*.sub-chapter-container{
	
}*/

/*.section-container{*/
	
/*}*/

/*.schedule-container{*/
	
/*}*/

/*.supplementary-provisions-container{
	visibility: hidden;
}*/

/*.sp-container{
	
}*/

/*.part-heading{
	text-align: center;
}*/

/*.chapter-heading{
	text-align: center;
}*/

/*.sub-chapter-heading{
	text-align: center;
}*/

/*.section-heading{*/
	/*text-align: center;*/
/*}*/

/*.schedule-heading{*/
	/*text-align: center;*/
/*}*/

/*.sp-heading{
	
}*/

/*.section-content{*/
	/*This has to be applied to each clause or subclause or explanation or proviso separately as the case may be*/
	/*text-align: justify;*/
	/*text-align-last: left;*/
	/*padding-left: 0%;*/
/*}*/

/*.sp-content{
	
}*/

/*.provision{
	
}*/

/*body{font-family: Calibri, Optima, sans-serif;}*/

/*Headings- Act name, Act number, Date of enactment*/
/*h4.act-date-heading{text-align: right;}
h4.act-number-heading{text-align: center;}
h1.actheading{text-align: center;}*/

/*Actual Act*/
/*div.sectionheading{text-align: center;}
div.omitted{display: none;}
div.page-break{page-break-after: always;}*/

/*References*/
/*sup.reference{font-size: xx-small;}*/
/*a.reference{font-style: italic;}*/

/*Amendments*/
/*a.amendment{font-style: italic;}*/

/*body{font-family: Calibri, Optima, sans-serif;}*/


/*Section and schedule enumeration*/
/*div.index{font-style: italic;}*/
/*a.sectionheading {text-decoration: none;color: black;font-style: italic;}*/

