/*
document-container{
	arrangement{
		sections-index{
			index-container{
				Index
				Title
			}	
		}
		schedules-index{
			index-container{
				Index
				Title
			}
		}
	}
	intro{
		plain text
		wef
	}
	section{
		heading{
			index
			title
		}
		content{
			enumeration{
				
			}
		}
	}
	schedule{
	
	}
}
*/

/*Add text-align-left class, of bootstrap, whereever needed*/

/*Can replace all containers by a simple container class whose width shall be 95% of width of parent*/

/*Can first apply inline-block to all sections and then customise as needed*/

section{
	/*display: inline-block;*/
}

.document-container{
	width: 95%;
	margin: auto;
}

/*Index*/
.arrangement{

}

.arrangement-heading{

}

.arrangement-index{

}

.arrangement-index-heading{

}

.index-container{
	
}

.act-intro{

}

/*.part-container{

}*/

/*.chapter-container{
	
}*/

/*.sub-chapter-container{
	padding-top: 3%;
	padding-bottom: 3%;
}*/

.section-container{
	/*padding-top: 1%;*/
}

.schedule-container{
	/*padding-top: 10%;*/
}

/*.supplementary-provisions-container{
	visibility: hidden;
}*/

/*.sp-container{
	
}*/

/*.part-heading{
	text-align: center;
}*/

/*.chapter-heading{
	text-align: center;
}*/

/*.sub-chapter-heading{
	text-align: center;
}*/

.section-heading{
	text-align: center;
	/*padding-bottom: 1%;*/
}

.schedule-heading{
	text-align: center;
}

/*.sp-heading{
	
}*/

.section-content{
	/*This has to be applied to each clause or subclause or explanation or proviso separately as the case may be*/
	/*text-align: justify;*/
	/*text-align-last: left;*/
	padding-left: 0%;
}

/*.sp-content{
	
}*/

/*.provision{
	
}*/

/*body{font-family: Calibri, Optima, sans-serif;}*/

/*Headings- Act name, Act number, Date of enactment*/
/*h4.act-date-heading{text-align: right;}
h4.act-number-heading{text-align: center;}
h1.actheading{text-align: center;}*/



/*Section and schedule enumeration*/
/*div.index{font-style: italic;}
a.sectionheading {text-decoration: none;color: black;font-style: italic;}*/

/*Actual Act*/
/*div.sectionheading{text-align: center;}
div.omitted{display: none;}
div.page-break{page-break-after: always;}*/



/*References*/
/*sup.reference{font-size: xx-small;}*/

/*a.reference{font-style: italic;}*/



/*Amendments*/
/*a.amendment{font-style: italic;}*/



/*body{font-family: Calibri, Optima, sans-serif;}*/

/*Headings- Act name, Act number, Date of enactment*/
/*h4.act-date-heading{text-align: right;}*/
/*h4.act-number-heading{text-align: center;}*/
/*h1.actheading{text-align: center;}*/



/*Section and schedule enumeration*/
/*div.index{font-style: italic;}*/
/*a.sectionheading {text-decoration: none;color: black;font-style: italic;}*/

/*Actual Act*/
/*div.sectionheading{text-align: center;}*/
/*div.omitted{display: none;}*/
/*div.page-break{page-break-after: always;}*/



/*References*/
/*sup.reference{font-size: xx-small;}*/

/*a.reference{font-style: italic;}*/



/*Amendments*/
/*a.amendment{font-style: italic;}*/
